div(ng-controller='userAgentController') 
  h1= title
  p Welcome to #{title}
  div
    input(type="text", name="userAgent", size="100", ng-model="uaString")
    input(type="submit", ng-click="getUserAgent()", ng-disabled="uaString.length==0")
    input(type="text", ng-model="parsedAgent", size="100")