extends layout

block content
  h1= title
  p Welcome to #{title}
  form(name="UserAgentInfo", method="post",action="parseAgent")
    div
     input(type="text", name="userAgent", size="100")
     input(type="submit", value = "Parse")
